<div class="container mt-3 pb-3">
  <div class="row justify-content-between">
    <div class="col-4">
      <div class="form-wrapper" style="width: 305px; margin: 0 auto;">
        <h3>Search by date</h3>

        <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 200px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="col-8">
      <h3>Check out our properties</h3>
      <%= render 'shared/card' %>
    </div>
  </div>

</div>
