<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="property">
        <h2><%= @property.name %></h2>
        <h3><%= '⭐️' * @property.rating.to_i %></h3>
        <h5><em><%= @property.category %></em></h5>
        <h6><%= @property.address %></h6>
        <ul>
          <li><b>Price per night:</b> $<%= @property.price %></li>
          <li><%= @property.description %></li>
        </ul>
      </div>
      <%= simple_form_for [@property, @booking] do |f| %>
        <%= f.input :check_in_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :check_out_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :num_guests %>
        <%= f.button :submit, 'Book', class: "btn btn-primary" %>
      <% end %>

    </div>
    <div class="col mt-3">
      <div class="property-image">
        <%= image_tag(@property.photo) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-3">
      <div class="btn btn-outline-primary">
        <%= link_to 'Back', properties_path %>
        <% if  policy(@property).edit? %>
        <%= link_to 'EDIT', edit_property_path(@property)%>
        <% end %>
        <% if  policy(@property).destroy? %>
        <%= link_to 'DESTROY', property_path(@property), data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
