<div class="container">
  <h2><%= @property.name %></h2>

<ul>
  <li><%= @property.address %></li>
  <li><%= '⭐️' * @property.rating.to_i %></li>
  <li><%= @property.category %></li>
</ul>

  <div class="d-flex flex-column">
    <div>
      <%= link_to '<< Back', properties_path %>
      <% if policy(@property).edit? %>
        <%= link_to 'EDIT', edit_property_path %>
      <% end %>
      <% if policy(@property).destroy? %>
        <%= link_to 'DESTROY', property_path(@property), data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
