<div class="container mt-3 mb-3">
  <h1>My Properties</h1>
  <% @properties.each do |property| %>
    <div class="card-product mt-3">
      <%= image_tag(property.photo) %>
      <div class="card-product-infos">
        <h2><%= property.name %></h2>
        <p><%= property.category %></p>
        <p><b>Price:</b> $<%= property.price %>/night</p>
        <p><%= link_to 'Edit property', edit_property_path(property) %></p>
      <% end %>
    </div>
  </div>
</div>