<div class="container mt-3 mb-3">
  <h1>My Properties</h1>
  <% @properties.each do |property| %>
</ul>

<div class="container">
  <div class="row">
    <div class="col mt-3">
      <div class="property">
        <h2><%= property.name %></h2>
        <h3><%= '⭐️' * property.rating.to_i %></h3>
        <h5><em><%= property.category %></em></h5>
        <h6><%= property.address %></h6>
        <ul>
          <li><b>Price per night:</b> $<%= property.price %></li>
          <li><%= property.description %></li>
        </ul>
      </div>
      <div class="btn btn-outline-primary mt-3">
        <% if  policy(property).edit? %>
        <%= link_to 'Edit', edit_property_path(property)%> |
        <% end %>
        <% if  policy(property).destroy? %>
        <%= link_to 'Remove', property_path(property), data: { confirm: 'Are you sure?', method: :delete } %>
        <% end %>
      </div>
      <div class="btn btn-outline-primary mt-3">
        <%= link_to 'Return to Listings', properties_path %>
      </div>
    </div>
    <div class="col mt-3">
      <div class="property-image">
        <%= image_tag(property.photo) %>
      </div>
    </div>
  </div>

    <% end %>
  </div>
</div>
